<!DOCTYPE html>
<html>
    <head>
        <title> Vue Dynamic Styling </title>
        <link rel = "stylesheet" href="style.css"> </link>
        <script src="https://unpkg.com/vue@next"></script>
<script src="vue.js" defer></script>
    </head>
    <body>

        <header>
            <h1> Monster Slayer </h1>
        </header>
        <div id = "game"> 
           <section id = "monster" class="container">
               <h2>Monster Health</h2>
               <div class="healthbar">
                   <div class="healthbar_value" :style="monsterBarStyle" ></div>
               </div>
           </section>
           <section id = "player" class="container">
            <h2>Your Health</h2>
            <div class="healthbar">
                   <div class="healthbar_value" :style="playerBarStyle" ></div>
            </div>
        </section>

        <section class="container" v-if='winner'>
            <h2>Game Over!</h2>
            <h3 v-if="winner === 'monster'"> You lost!</h3>
            <h3 v-else-if="winner ==='player'"> You won!</h3>
            <h3 v-else> It's a draw!</h3>
            <button @click ="startGame">Start New Game</button>

        </section>
        <section id="controls" v-else>
            <button @click="attckMonster">ATTACK</button>
            <button :disabled="mayUseSpecialAttack" @click="specialAttackMonster">SPECIAL ATTACK</button>
            <button @click="healPlayer">HEAL</button>
            <button @click="surrender">SURRENDER</button>

        </section>
        <section id ="log" class="container">
            <h2> Battle Log </h2>
            <ul>
                <li v-for="logMessage in logMessages">
                <span :class= "{'log--player':logMessage.actionBy==='player','log--monster':logMessage.actionBy==='monster'}">
                     {{logMessage.actionBy === 'player' ? 'player' : 'Monster'}}
                    </span>
               
                 <span v-if="logMessage.actionType === 'heal'"> 
                     heals himself for
                     <span class="log--heal"> {{ logMessage.actionValue }}</span></span>

                 <span v-else>
                attacks and deals
                <span class='log--damage'>{{ logMessage.actionValue}}

                </span>

            </span>
<!-- {{logMessage.actionBy}}-
                    {{logMessage.actionType}}-
                    {{logMessage.actionValue}} -->
                </li>
            </ul>

        </section>


        </div>
    </body>
</html>
