* {
  box-sizing: border-box;
}
html {
  font-family: "Jost", sans-serif;
}
body {
  margin: 0;
}

hr {
  border-bottom: 4px solid #ccc;
}
header {
  box-shadow: 0 rpx 8px rgba(0, 0, 0, 0.26);
  margin: 1rem auto;
  /* border-radius: 10px; */
  padding: 1rem;
  background-color: #942d1f;
  color: white;
  text-align: center;
  width: 100%;
  max-width: 100rem;
}
.container {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 2rem auto;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  width: 90%;
  max-width: 40rem;
}
.healthbar {
  background-color: rgb(251, 218, 224);
  border: 1px solid;
}

.healthbar_value {
  height: 50px;
  width: 100%;
  background-color: rgb(22, 114, 62);
}

button {
  background-color: rgb(90, 2, 50);
  color: white;
  margin: 20px;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  width: 90%;
  max-width: 40rem;
}
button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: black;
}
#log li {
  margin: 0.5rem 0;
  list-style: none;
}
.log--player {
  color: green;
}

.log--monster {
  color: #9c799c;
}
.log--damage {
  color: red;
}

.log--heal {
  color: greenyellow;
}
.demo {
  border: 2px dashed rgb(90, 2, 50);
  width: calc(100%-32px);
  height: 150px;
  margin: 16px;
}
.active {
  border-color: red;
  background-color: salmon;
}

#events h2 {
  font-size: 2rem;
  border-bottom: 4px solid #ccc;
  color: #4fc08d;
  margin: 0 0 1rem 0;
}
#events p {
  font-size: 1.25rem;
  font-weight: bold;
  border: 1px solid #4fc08d;
  background-color: #4fc08d;
  color: white;
  padding: 0.5rem;
  border-radius: 25px;
}
#events input {
  font: inherit;
  border: 1px solid #ccc;
}
#events input:focus {
  outline: none;
  border-color: #1b995e;
  background-color: #d7fdeb;
}
#events button {
  font: inherit;
  cursor: pointer;
  border: 1px solid #ff0077;
  background-color: #ff0077;
  color: white;
  padding: 0.05rem 1rem;
  margin: 20px;
  width: 20%;

  border-radius: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}
#events button:hover,
#events button:active {
  background-color: #ff0077;
  border-color: #ff0077;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}
